.App {
    text-align: center;
  }
  
  .App-logo {
    position: absolute;
    top: 20%;
    height: 40vmin;
    pointer-events: none;
    width: 70%;
    height: 70%;
  }
  
  .App-header {
    background-color: #d8dde7e3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }