<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Consultorios</li>
    </ol>
  </nav>
  <div class="container">
    <div class="card list-car">
      <h5 class="card-header">Lista de consultorios</h5>
      <div class="card-body">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Telefone</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cons of consultorios">
                <td>{{cons.id}}</td>
                <td>{{cons.nome}}</td>
                <td>{{cons.endereco}}</td>
                <td>{{cons.telefone}}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="editConsultorio(cons)">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteConsultorio(cons)">Deletar</button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  
    <div class="card add-car">
        <h5 class="card-header">Adicionar/Atualizar consultorio</h5>
        <div class="card-body">
            <form id="add-form" (ngSubmit)="f.form.valid && saveConsultorio(f)" #f="ngForm" novalidate>
              <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" [(ngModel)]="consultorio.nome" id="nome" name="nome" #nome="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }" placeholder="Digite o nome">
                  <div *ngIf="f.submitted && nome.invalid" class="invalid-feedback">
                      <div *ngIf="nome.errors.required">Nome é obrigatório</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="endereco">Endereço</label>
                  <input type="text" [(ngModel)]="consultorio.endereco" id="endereco" name="endereco" #endereco="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && endereco.invalid }" placeholder="Digite o endereço">
                  <div *ngIf="f.submitted && endereco.invalid" class="invalid-feedback">
                      <div *ngIf="endereco.errors.required">Endereço é obrigatório</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="telefone">Telefone</label>
                  <input type="text" [(ngModel)]="consultorio.telefone" id="telefone" name="telefone" #telefone="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && telefone.invalid }" placeholder="Digite o telefone">
                  <div *ngIf="f.submitted && telefone.invalid" class="invalid-feedback">
                      <div *ngIf="telefone.errors.required">Telefone é obrigatório</div>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
              <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
            </form>
        </div>
      </div>
  </div>